
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<label>Ingresa Número 1</label>
<input type="text" id="txtnum1"/>
<label>Ingresa Número 2</label>
<input type="text" id="txtnum2"/>
<input type="button" value="Sumar" id="btnSumar" />
<input type="button" value="Clear" id="btnClear" />
<label id="lblRespuesta"></label>







<script src="~/Scripts/Sumar.js"></script>





