
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<label>Ingresa Número 1</label>
<input type="text" id="txtnum1"/>
<label>Ingresa Número 1</label>
<input type="text" id="txtnum2"/>
<input type="button" value="Sumar" id="btnSuma" />
<input type="button" value="Resultado" id="btnResult" />